<div class="item">
  @if (isEditionMode) {
    <span class="itemName">
      <input [(ngModel)]="item.name" (blur)="itemUpdated()" style="width: 120px" />
    </span>
    <div class="item-actions">
      <button class="default-button" (click)="deleteItem()">✗</button>
      <button class="default-button" (click)="moveItemUp()">↑</button>
      <button class="default-button" (click)="moveItemDown()">↓</button>
    </div>
  } @else {
    <span class="itemName">{{ item.name }}</span>
    <input id="isNeededChk" type="checkbox" class="item-checkbox" [(ngModel)]="item.isNeeded" (ngModelChange)="itemUpdated()" />
  }
</div>
