.container {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 6.25em; /* 100px / 16 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.content {
  background-color: #fefefe;
  margin: auto;
  padding: 1.25em; /* 20px / 16 */
  border: 0.0625em solid #888;
  width: 80%;
  box-shadow: 0.625em 0.3125em 0.3125em black;
}

label,
input {
  display: block;
}

.form-group {
  margin: 1rem;
}

.zoom-controls {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.zoom-buttons {
  display: flex;
  gap: 0.5rem;
}
