.item{
    /*background-color: lavender;*/
    border: 1px solid thistle;
    border-radius: 5px;
    padding: 2;
    overflow:hidden; /* required because buttons are floating. So without this, they flow out of the div */
  }

  button{
    float: right;
    border:1px solid grey;
    height:35px;
    width:35px;
    margin: 2px;
  }

  .itemName{
    /* just to center vertically */
    display:inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    height:20px;
  }

  #isNeededChk{
    float: right;
    border:1px solid grey;
    height:35px;
    width:35px;
    margin: 2px;
  }
