<style>
  .category{
    background-color: #80a5b7;
    border-radius: 5px;
    border: 1px solid #607d8b;
    padding: 5;
    color: whitesmoke;
    font-weight: bold;
    padding: 2;
    overflow:hidden; /* required because buttons are floating. So without this, they flow out of the div */
  }

  button{
    float: right;
    border:1px solid grey;
    height:35px;
    width:35px;
    margin: 2px;
  }

  .categoryName{
    /* just to center vertically */
    display:inline-block;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    height:20px;
  }
</style>

<div class="category">

  <span *ngIf="!myListService.isEditionMode" class="categoryName">{{category.name}}</span>
  <span *ngIf="myListService.isEditionMode" class="categoryName">
    <input [(ngModel)]="category.name" (blur)="saveCategory()" style="width:120"/>
  </span>

  <span *ngIf="myListService.isEditionMode">
    <!--button (click)="renameCategory()">✎</button-->
    <button (click)="deleteCategory()">✗</button>
    <button (click)="moveCategoryUp()">↑</button>
    <button (click)="moveCategoryDown()">↓</button>
  </span>
</div>
<div *ngFor="let currentItem of category.items">
  <my-item *ngIf="currentItem.isNeeded || myListService.isDisplayNotNeededItems" [item]="currentItem"></my-item>
</div>
