@for (currentCategory of categories; track currentCategory.name) {
  <app-category-card
    [category]="currentCategory"
    (categoryUpdatedEvt)="categoryUpdated($event)"
    [isEditionMode]="isEditionMode"
    [isDisplayNotNeededItems]="isDisplayNotNeededItems"
    [filterExpression]="filterExpression"
    (deleteCategoryEvt)="deleteCategory($event)"
    (moveCategoryUpEvt)="moveCategoryUp($event)"
    (moveCategoryDownEvt)="moveCategoryDown($event)"
  ></app-category-card>
} @empty {
  Empty list of categories
}
