<div class="category">
  @if (listService.isEditionMode) {
    <span class="categoryName">
      <input [(ngModel)]="category.name" (blur)="saveCategory()" style="width: 120" />
    </span>
    <span>
      <button (click)="deleteCategory()">✗</button>
      <button (click)="moveCategoryUp()">↑</button>
      <button (click)="moveCategoryDown()">↓</button>
    </span>
  } @else {
    <span class="categoryName">{{ category.name }}</span>
  }
</div>

@for (currentItem of category.items; track currentItem.name; let i = $index) {
  @if (listService.isDisplayNotNeededItems || currentItem.isNeeded) {
    <!-- we can't use currentItem in the two way binding because it's readonly, so we use category.items[i] instead -->
    <app-item-card
      [(item)]="category.items[i]"
      (itemChange)="itemUpdated($event)"
      (deleteItemEvt)="deleteItem($event)"
      (moveItemUpEvt)="moveItemUp($event)"
      (moveItemDownEvt)="moveItemDown($event)"
      [isEditionMode]="listService.isEditionMode"
    ></app-item-card>
  }
} @empty {
  No item
}
