<!-- Empty div that take the same height as the toolbar. Since the toolbar is fixed at the top, it is displayed over the rest, so we need to push down the first category
The height of this div varies based on the content of the toolbar (edition mode or not) -->
@if (listService.isEditionMode) {
  <div style="height: 6em"></div>
} @else {
  <div style="height: 3em"></div>
}

<div class="fixed-toolbar">
  <div class="main-buttons-bar">
    <label class="my-label" for="showNeededChk">show all</label>
    <input id="showNeededChk" type="checkbox" class="my-checkbox" [(ngModel)]="listService.isDisplayNotNeededItems" />
    <label class="my-label" for="editModeChk">edit mode</label>
    <input id="editModeChk" type="checkbox" class="my-checkbox" [(ngModel)]="listService.isEditionMode" />
    <div class="save-load">
      <button class="my-button" [disabled]="isSaveInProgress" (click)="saveList()">save</button>
      <button class="my-button" [disabled]="isLoadInProgress" (click)="loadList()">load</button>
    </div>
  </div>
  @if (listService.isEditionMode) {
    <div class="creator">
      <app-item-creator></app-item-creator>
      <app-category-creator></app-category-creator>
    </div>
  }
</div>
