<div class="main-content">
  @if (this.listService.categories$ | async; as categories) {
    <app-toolbar (displayConfigEvt)="displayConfig($event)" [categories]="categories" [disabled]="isConfiguratorOpen"></app-toolbar>
    <div class="categories-container fade-in" [class.with-toolbar-margin]="true" [class.edition-mode-margin]="uiConfigService.isEditionMode">
      <app-categories-list
        [categories]="categories"
        [isEditionMode]="uiConfigService.isEditionMode"
        [isDisplayNotNeededItems]="uiConfigService.isDisplayNotNeededItems"
        [filterExpression]="uiConfigService.itemNameFilterExpression"
      ></app-categories-list>
    </div>
  }
</div>
<app-configurator #configurator (configuratorOpenEvt)="onConfiguratorOpen($event)" (configuratorCloseEvt)="onConfiguratorClose($event)"></app-configurator>
