<div class="fixed-toolbar" [class.disabled]="disabled">
  <div class="search-line">
    <app-filter-config (filterConfigEvt)="filterConfig($event)"></app-filter-config>
  </div>
  <div class="controls-line">
    <div class="checkboxes-group">
      <div class="control-group">
        <label class="my-label" for="showAllChk">Show all</label>
        <input id="showAllChk" type="checkbox" class="my-checkbox" [(ngModel)]="uiConfigService.isDisplayNotNeededItems" />
      </div>
      <div class="control-group">
        <label class="my-label" for="editModeChk">Edit</label>
        <input id="editModeChk" type="checkbox" class="my-checkbox" [(ngModel)]="uiConfigService.isEditionMode" />
      </div>
    </div>
    <div class="buttons-group">
      <button class="default-button" (click)="displayConfig()">Config</button>
      <button class="default-button" [disabled]="isSaveInProgress" (click)="saveList()">Save</button>
      <button class="default-button" [disabled]="isLoadInProgress" (click)="loadList()">Load</button>
    </div>
  </div>

  @if (uiConfigService.isEditionMode && !disabled) {
    <div class="creator">
      <div class="creator-content">
        <app-item-creator (addItemEvt)="addItem($event)" [categories]="categories"></app-item-creator>
        <app-category-creator (addCategoryEvt)="addCategory($event)"></app-category-creator>
      </div>
    </div>
  }
</div>
